
body{
padding-top:1%;
background-color: rgb(122, 124, 124)
}

.container {
    text-align: center;
}
.heading-bahuniya {
    font-weight: bold;
    font-size:50px;
    color: rgb(255, 255, 255);
}  


.form-login {
max-width:550px;
padding:40px;
padding-top: 3%;
border-radius:30px;
background: #c08383;;
margin:0 auto;

}


.form-login .form-login-heading{
font-weight: bold;
color:#ffffff;
text-align:center;
font-size:40px;
padding-bottom: 6%;
}

.form-login .form-control {
position:relative;
height:auto;
box-sizing:border-box;
padding:10px;
font-size:16px;

}

.form-login input[type="text"] {
margin-bottom:5px;
border-bottom-right-radius:0;
border-bottom-left-radius: 0;

}

.form-login input[type="password"] {
margin-bottom:10px;
border-top-left-radius: 0;
border-top-right-radius:0;


}